@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}


#preloader {
    background: #fff url(images/gif.gif) no-repeat center center;
    background-size: 20%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
}


body{

   
    font-family: "Nunito", sans-serif;
}




.container{
    display: flex;
    width: 100%;
    }

.section1{
    width: 20%; 
     box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.12);
     height: 100vh;
     background-color: #fff;
     /* padding: 10px; */
     position: fixed;
}




/* header{
    width: 100%;
     position: sticky;
    top: 0;
    z-index: 999;
    height: 70px;
    background-color: #5369cc;
    display: flex;
  
   
justify-content: space-between;

} */

.section1 .logo {
    /* background-color: red; */
    height: 100px;
    
}

.section1 .logo img{
    width: 150px;
    height: 60px;
    margin-left: 15px;
    margin-top: 10px;
}

.logo hr{
    margin-top: 10px;
    border: 1px solid #f6f6f6;
}
nav hr{
    margin-top: 80px;
    border: 1px solid #f6f6f6;
}

.section1 nav ul{
      margin-top: 70px;

    
}

.section1 nav ul li{
    list-style-type: none;
    text-transform: capitalize;
      position: relative; 

}

.section1 nav ul li a{
    text-decoration: none;

}

.home , .about , .projects , .contact{
    display: flex;
      padding-left: 10px;
     padding: 15px;
   align-items: center;
    gap: 10px;
    transition: 0.3s ease-in;
}

.home:hover , .about:hover , .projects:hover , .contact:hover{
    background-color: #5369cc1f;
    border-left: 3px solid #5369cc;
}

.about , .projects , .contact{
    margin-top: 5px;
}

.home p a , .about p a , .projects p a , .contact p a{ 
margin-top: 5px;
    font-weight: 600;
    font-size: 16px;    
    color: #7a7374;
}

.home span , .about span , .projects span , .contact span{
    font-size: 20px;
    cursor: pointer;
    color: #5369cc;
}





/* 
nav ul li div::before {
    content: "";
    position: absolute;
    left: -10px;
    top: 0;
    bottom: 0;
    width: 3px; 
    background-color: #5369cc; 
    transform: scaleY(0); 
    transition: transform 0.3s ease; 
    transform-origin: top; 
}


nav ul li div.active::before {
    transform: scaleY(1); 
} */


.active{
    background-color: #5369cc1f;

    border-left: 3px solid #5369cc;
}



nav ul li div.active span,
nav ul li div.active p a {
    color: #5369cc;
}





/* Default styles */

   




.bottom{
    margin-top: 50px;
    padding-left: 15px;
    color: #7a7374;
}

.bottom ul{
    list-style-type: none;
}



.whatsapp , .call , .mail{
    display: flex;
    gap: 10px;
    align-items: center;
    
}

.whatsapp p , .call p , .mail p{
    font-size: 14px;
}

.call , .mail{
    margin-top: 15px;
}

ion-icon{
    font-size: 16px;
}

.call span{
    font-size: 16px;
}

.call p , .whatsapp p{
    color: #5369cc;
}

.call p span , .whatsapp p span{
    color: #7a7374;
    font-size: 14px;
}

.button{
 width: 18%;

    position: fixed;
    bottom: 10px;
    left: 12px;
  
}

.button button{
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border: none;
    background-color: #5369cc;
    color: #fff;
    text-transform: capitalize;
    font-size: 16px;
    transition: 0.3s all;
}

.button button:hover{
    cursor: pointer;
  font-size: 18px   ;
}

.section2{
    width: 80%;
    height: 100vh;
    margin-left: 20%;
    padding: 20px;
    position: relative;
    scroll-behavior: smooth;
overflow-x: hidden;
}


.logo-h1{
    display: flex;
    justify-content: space-between;
}


h1{
    font-size: 30px;
    text-transform: capitalize;
}

.logo img{
    width: 60px;
    height: 70px;
    
}

/* .logo{
    width: 100%;
    display: flex;
    justify-content: center;
} */

.input-box{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 6%;
  /* background-color: red; */
  height: 500px;
}


.name , .phone , .email ,.select , .message{
    width: 280px;
    height: 200px;
    background-color: #fff;
    box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.12);
    border-radius: 10px;
padding-top: 10px;
text-align: center;
}

.select , .message{
    width: 350px;
    height: 220px;
}

 .name p , .phone p , .email p , .select p , .message p{
color: #7a7374;
text-transform: capitalize;
font-weight: 600;
font-size: 20px;
}


.name span , .phone span , .email span , .select span , .message span{
    padding-top: 10px;
    font-size: 28px;
}

.name input , .phone input , .email input , .select select {
    margin-top: 70px;
    height: 30px;
    border: none;
    border-left: none;
    border-right: none;
    width: 90%;
    font-size: 18px;
    text-transform: capitalize;
    color: #7a7374;
    
}
.message textarea{
    margin-top: 50px;
    height: 80px;
  border: 2px solid #7a7374;
    width: 90%;
    font-size: 18px;
    text-transform: capitalize;
    color: #7a7374;
    border-radius: 2px;
    padding: 10px 20px;
}

.email input{
    text-transform: lowercase;
}

.select select{
    font-size: 16px;
    margin-top: 100px;
}

.name ::placeholder , .phone ::placeholder , .email ::placeholder , .select ::placeholder{
    text-transform: capitalize;  
      font-size: 14px;
}

input:focus, select:focus {
    outline: none;
border-bottom: 2px solid #7a7374;
}


.next{
    margin-top: 30px;
    width: 100%;
    display: flex;
    gap: 10px;
}

.next button{
    width: 50%;
    height: 40px;
    background-color: #5369cc;
    border-radius: 5px;
    border: none;
    color: #fff;
    text-transform: capitalize;
font-size: 18px;
}



.submit{
    width: 100%;
 
    margin-top: 50px;
}

.submit button {
    width: 30%;
    height: 60px;
    background-color: #5369cc;
    border-radius: 5px;
    border: none;
    color: #fff;
    text-transform: capitalize;
    font-size: 18px;
    position: relative;
}

.loader {
    width: 20px;
    height: 20px;
 
    border: 3px solid #fff;
    border-radius: 50%;
    border-top-color: #5369cc;
    animation: spin 0.6s linear infinite; /* Spins smoothly */
    position: absolute;
    top: 35%;
    left: 45%;
    transform: translate(-50%, -50%); /* Center the loader */
   display: none;
}

@keyframes spin {
    0% {
        transform: rotate(0deg); /* Start at 0 degrees */
    }
    100% {
        transform: rotate(360deg); /* Complete a full circle */
    }
}



@media screen  and (max-width:769px){
    .navigation{

        width: 100%;
        position: fixed;
        bottom: 0;
     
    }

    .navigation ul{
        margin-top: 70px;
     border-top: 2px solid #5369cc;
      display: flex;
      padding: 20px;
      justify-content: space-between;
      background-color: #fff;
  }
  
  .navigation ul li{
      list-style-type: none;
      text-transform: capitalize;
        position: relative; 
  
  }
  
  .navigation ul li a{
      text-decoration: none;
  
  }
  
  .home , .about , .projects , .contact{
      display: block;
        padding-left: 0px;
       padding: 0px;
     text-align: center;
      gap: 10px;
      transition: 0.3s ease-in;
  }
  
 
  
  .about , .projects , .contact{
      margin-top: 0px;
  }
  
  .home p a , .about p a , .projects p a , .contact p a{ 
  margin-top: 5px;
      font-weight: 600;
      font-size: 16px;    
      color: #7a7374;
  }
  
  .home span , .about span , .projects span , .contact span{
      font-size: 20px;
      cursor: pointer;
      color: #5369cc;
  }
  
  
  
  .home:hover , .about:hover , .projects:hover , .contact:hover{
    background-color: transparent;
    border-left: none;
}
  
  
  


    .section1{
       display: none;
    }
    
       
    .section2{
        width: 100%;
        height: 100vh;
        margin-left: 00%;
        padding: 10px;
        position: relative;
        scroll-behavior: smooth;
    overflow-x: hidden;
    }
    
    
    .logo-h1{
        display: flex;
        justify-content: space-between;
    }
    
    
    h1{
        font-size: 30px;
        text-transform: capitalize;
    }
    
    .logo img{
        width: 60px;
        height: 70px;
        
    }
    
    /* .logo{
        width: 100%;
        display: flex;
        justify-content: center;
    } */
    
    .input-box{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 6%;
        /* background-color: red; */
        height: 500px;
      }
      
      
      .name , .phone , .email ,.select , .message{
          width: 280px;
          height: 200px;
          background-color: #fff;
          box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.12);
          border-radius: 10px;
      padding-top: 10px;
      text-align: center;
      }
      
      .select , .message{
          width: 350px;
          height: 250px;
      }
      
       .name p , .phone p , .email p , .select p , .message p{
      color: #7a7374;
      text-transform: capitalize;
      font-weight: 600;
      font-size: 20px;
      }
      
      
      .name span , .phone span , .email span , .select span , .message span{
          padding-top: 10px;
          font-size: 28px;
      }
      
      .name input , .phone input , .email input , .select select {
          margin-top: 70px;
          height: 30px;
          border: none;
          border-left: none;
          border-right: none;
          width: 90%;
          font-size: 18px;
          text-transform: capitalize;
          color: #7a7374;
          
      }


     
      .message textarea{
          margin-top: 70px;
          height: 80px;
        border: 2px solid #7a7374;
          width: 90%;
          font-size: 18px;
          text-transform: capitalize;
          color: #7a7374;
          border-radius: 2px;
          padding: 10px 20px;
      }
      
      .email input{
          text-transform: lowercase;
      }
      
      .select select{
          font-size: 16px;
          margin-top: 120px;
          height: 40px;
          background-color: transparent;
      }
      
      .name ::placeholder , .phone ::placeholder , .email ::placeholder , .select ::placeholder{
          text-transform: capitalize;  
            font-size: 14px;
      }
      
      input:focus, select:focus {
          outline: none;
      border-bottom: 2px solid #7a7374;
      background-color: transparent;
      }
      
      
      .next{
          margin-top: 50px;
          width: 100%;
          display: flex;
          gap: 10px;
      }
      
      .next button{
          width: 50%;
          height: 40px;
          background-color: #5369cc;
          border-radius: 5px;
          border: none;
          color: #fff;
          text-transform: capitalize;
      font-size: 18px;
      }
}